@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../image/b-926.jpg');
}

#mainContainer {
    display: flex;
    gap: 15rem;
    justify-content: center;
    align-items: center;
    margin: 7rem 0;
    text-align: center;
}

#upper {
    text-align: center;
    padding: 2.3rem 0;
    backdrop-filter: blur(4px);
}

#upper h1 {
    font-size: 55px;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "EDPT" 97,
        "EHLT" 14;
}

#toolContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    gap: 25px;
}

#setGrid {
    background-color: rgb(81, 215, 90);
    transition: 0.3s;
}
#setRainbow {
    background-color: chocolate;
    transition: 0.3s;
}
#clearCanvas {
    background-color: cadetblue;
    transition: 0.3s;
}


#toolContainer button {
    padding: 18px 45px;
    cursor: pointer;
    border-radius: 28px;
    border: 2px solid black;
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    transition: 0.3s;
}

#toolContainer button:hover {
    background-color: rgb(255, 206, 27);
}


/*Container for paint*/
#paintContainer {
    margin-top: 15px;
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: auto;
    border: 3.5px solid black;
    height: 600px;
    width: 600px;
    box-sizing: border-box;
}

.dimension {
    border: 1px solid black;
    box-sizing: border-box;
}